--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.5.1
torchvision==0.20.1
xformers==0.0.29.post1
-f https://data.pyg.org/whl/torch-2.5.1+cu121.html
torch-cluster
diffusers==0.33.0
accelerate==1.1.1
moviepy==1.0.3
hydra-core==1.3.2
taichi==1.7.3
trimesh==4.4.0
numpy==1.26.1
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
rembg==2.0.63
huggingface_hub==0.31.1
gradio==4.44.1
gradio_image_prompter==0.1.0
uvicorn==0.34.2
fastapi==0.112.0
pydantic==2.8.2
plotly==5.24.1
SentencePiece==0.2.0

warp-lang
matplotlib
pyyaml
h5py
einops
timm
scikit-image
open3d
PyMCubes
plyfile
transformers==4.45.1
cython
rich
munch 
omegaconf
flow_vis
kiui
segment_anything
rembg
onnxruntime
tyro
roma 
safetensors
# git+https://github.com/ashawkey/diff-gaussian-rasterization.git
git+https://github.com/asomoza/image_gen_aux.git